.icon {
  float: right;
  display: inline-block;
  margin-left:5px;
  margin-right:10px;
  cursor: pointer;
  font-size: 30px;
}

.input-bar {
  display: table;
  width: 100%;
}

.input-bar-item > button {
  margin-left: 5px;
}

.width100 {
  width: 100%;
}
.input-bar .form-group {
  float: left;
  vertical-align: middle;
  width: 93%;
}
.input-bar-item-btn {
  float: left;
  width:7%;
}